<table>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.image(:thumb) %></td>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= user.country %></td>
        <td><%= user.birthday %></td>
        <td><%= user.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
